# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/
venv/

# Environment Files
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Misc
*.swp